
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.recipe-thumbnail{
  display: inline-block;
  height: 160px;
  width: 100%;
  border-radius: 5px;
  background-color: grey;
  .recipe-name{
    text-align: center;
    color: white;
    margin-top: 40px;
  }
}
